@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.cdnfonts.com/css/cocogoose");
@media screen and (min-width: 1110px) and (max-width: 1499px) {
  body header nav ul li a {
    text-align: center;
    font-size: 12px;
  }
  body main {
    height: 87%;
  }
  body main .headline {
    padding-top: 0;
  }
  body main .headline .presentation {
    margin-top: 50px;
    margin-left: 110px;
  }
  body main .headline .socials {
    bottom: 70px;
  }
  body main .headline .headline-photo {
    margin-left: 135px;
  }
  body main .headline .headline-photo img {
    width: 565px;
    height: 580px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1109px) {
  body header nav ul li a {
    font-size: 12px;
  }
  body main .headline {
    padding-top: 75px;
  }
  body main .headline .presentation {
    margin-left: 90px;
  }
  body main .headline .presentation .title {
    height: 95px;
    width: 190px;
    padding: 0 0 0 40px;
  }
  body main .headline .presentation .title h1 {
    font-size: 24px;
    color: #1a1d4e;
  }
  body main .headline .presentation .perf {
    width: 120px;
  }
  body main .headline .presentation .perf h2 {
    font-size: 14px;
    text-align: center;
  }
  body main .headline .headline-photo {
    margin-left: 40px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  body main .headline .headline-photo img {
    height: 545px;
    width: 500px;
  }
  body main .headline .headline-photo .skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
    gap: 55px;
  }
  body main .headline .headline-photo .skills li .main-skill {
    width: 50px;
    height: 50px;
  }
  body main .headline .headline-photo .skills li:nth-child(2) {
    margin-left: 0;
    height: 150px;
    width: 150px;
  }
  body main .headline .headline-photo .skills li:nth-child(3) img {
    height: 50px;
    width: 50px;
  }
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  body header nav ul {
    display: none;
  }
  body header nav ul li {
    padding: 11px 12px;
  }
  body header nav ul li a {
    font-size: 12px;
  }
  body main {
    height: 85%;
  }
  body main .headline {
    padding-top: 15px;
  }
  body main .headline .presentation {
    margin-left: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
  }
  body main .headline .presentation .title {
    width: 200px;
    height: 70px;
  }
  body main .headline .presentation .title h1 {
    font-size: 18px;
  }
  body main .headline .presentation .perf {
    width: 80px;
    height: 50px;
  }
  body main .headline .presentation .perf h2 {
    font-size: 10px;
  }
  body main .headline .socials {
    bottom: 175px;
  }
  body main .headline .headline-photo {
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
  }
  body main .headline .headline-photo img {
    width: 300px;
    height: 380px;
  }
  body main .headline .headline-photo .skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 0;
    padding-bottom: 30px;
    gap: 10px;
  }
  body main .headline .headline-photo .skills li {
    width: 80px;
    height: 80px;
  }
  body main .headline .headline-photo .skills li .main-skill {
    width: 40px;
    height: 40px;
  }
  body main .headline .headline-photo .skills li:nth-child(2) {
    margin-left: 0;
    height: 100px;
    width: 100px;
  }
  body main .headline .headline-photo .skills li:nth-child(3) img {
    height: 40px;
    width: 40px;
  }
  body footer {
    font-size: 15px;
  }
}
@media screen and (max-width: 320px) {
  body header nav .logo {
    color: aliceblue;
  }
  body header nav ul li {
    padding: 11px 12px;
  }
  body header nav ul li a {
    font-size: 12px;
  }
  body main .headline {
    padding-top: 100px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background: #f1f1f1;
  font-family: "Lato";
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

@media screen and (min-width: 1110px) and (max-width: 1499px) {
  header nav {
    padding: 0 120px 0 120px;
  }
}
@media screen and (min-width: 1500px) {
  header nav {
    padding: 0 120px 0 360px;
  }
}

@media screen and (min-width: 1110px) and (max-width: 1499px) {
  footer {
    padding: 0 120px 0 120px;
  }
}
@media screen and (min-width: 1500px) {
  footer {
    padding: 0 120px 0 360px;
  }
}

main {
  width: 100%;
  height: 90%;
}
main .headline {
  padding-top: 150px;
  width: 100%;
  background: url(../assets/bgWhite.png);
  overflow-x: hidden;
}
main .headline .presentation {
  position: absolute;
  width: 20%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
  gap: 30px;
}
main .headline .presentation .title {
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: -6px 7px 15px 5px rgba(0, 0, 0, 0.13), inset 0 -8px 16px 0 #bdbdc1;
  padding: 16px;
  width: 250px;
  height: 150px;
}
main .headline .presentation .title h1 {
  font-size: 36px;
  color: #1a1d4e;
}
main .headline .presentation .title span {
  font-size: 12px;
  color: #1a1d4e;
}
main .headline .presentation .perf {
  position: relative;
  padding: 16px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: -9px 6px 13px 0 rgba(160, 139, 177, 0.42), inset 0 -8px 16px 0 #bdbdc1;
  width: 150px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
main .headline .presentation .perf h2 {
  font-size: 24px;
  color: #1a1d4e;
}
main .headline .socials {
  position: absolute;
  bottom: 150px;
}
main .headline .socials .social-media_icons {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
main .headline .socials .social-media_icons img {
  height: 25px;
  width: 25px;
}
main .headline .headline-photo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-left: 200px;
}
main .headline .headline-photo .skills {
  margin-top: 150px;
}
main .headline .headline-photo .skills li {
  margin-top: 15px;
  height: 120px;
  width: 120px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: -6px 7px 15px 5px rgba(0, 0, 0, 0.13), inset 0 -8px 16px 0 #bdbdc1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
main .headline .headline-photo .skills li img {
  height: 100px;
  width: 100px;
}
main .headline .headline-photo .skills li:nth-child(2) {
  margin-left: 50px;
  height: 150px;
  width: 150px;
}
main .headline .headline-photo .skills li:nth-child(3) {
  height: 90px;
  width: 90px;
}
main .headline .headline-photo .skills li:nth-child(3) img {
  height: 70px;
  width: 70px;
}

.about {
  display: none;
  padding: 0 30px 0 30px;
  margin-top: 10px;
}
.about .about-title {
  font-size: 36px;
  color: #1a1d4e;
  text-align: center;
}
.about .about-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
  margin-top: 60px;
}
.about .about-skills li {
  width: 24%;
  height: 400px;
  background: #fff;
  border-radius: 10px;
  box-shadow: -6px 7px 15px 5px rgba(0, 0, 0, 0.13), inset 0 -8px 16px 0 #bdbdc1;
  overflow: hidden;
}
.about .about-skills li img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 220px;
}
.about .about-skills li h2 {
  font-size: 24px;
  color: #1a1d4e;
  text-align: center;
  margin-top: 10px;
}

.work {
  display: none;
  height: 100%;
  width: 100%;
}
.work .work-title {
  margin-top: 50px;
  font-size: 36px;
  color: #1a1d4e;
  text-align: center;
}
.work .work-types {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  margin-top: 30px;
}
.work .work-types li {
  width: 100px;
  height: 50px;
  padding: 10px 20px;
  background-color: #1a1d4e;
  box-shadow: rgba(187, 187, 187, 0.42) 0 3px 18px 1px, inset 1px -3px 5px 0 #cbcbcf;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  font-size: 12px;
}
.work .works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  height: 200px;
  gap: 10px;
  width: 100%;
}
.work .works li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  box-shadow: -6px 7px 15px 5px rgba(0, 0, 0, 0.13), inset 0 -8px 16px 0 #bdbdc1;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}
.work .works li span {
  position: absolute;
  background: #fff;
  bottom: 40px;
}
.work .works img {
  width: 300px;
  height: 220px;
}

.exp {
  display: none;
  width: 100%;
  height: 100%;
}
.exp .exp-title {
  font-size: 36px;
  color: #1a1d4e;
  margin-top: 50px;
  text-align: center;
}
.exp .exp-img_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 30px;
  width: 100%;
  height: auto;
  gap: 70px;
}
.exp .exp-img_container .exp-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.exp .exp-img_container .exp-imgs li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  overflow: hidden;
  padding: 10px;
  background-color: #fff;
  box-shadow: -6px 7px 15px 5px rgba(0, 0, 0, 0.13), inset 0 -8px 16px 0 #bdbdc1;
  width: 120px;
  height: 120px;
}
.exp .exp-img_container .exp-imgs li img {
  width: 40px;
  height: 40px;
}
.exp .exp-img_container .exp-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
.exp .exp-img_container .exp-desc li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.contacts {
  display: none;
  width: 100%;
  height: 100%;
}
.contacts .contact-title {
  margin-top: 50px;
  font-size: 36px;
  color: #1a1d4e;
  text-align: center;
}
.contacts .mobiles {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  margin-top: 30px;
}
.contacts .mobiles li {
  background: #fff;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
  border-radius: 10px;
  box-shadow: -6px 7px 15px 5px rgba(0, 0, 0, 0.13), inset 0 -8px 16px 0 #bdbdc1;
}
.contacts .mobiles li img {
  width: 50px;
  height: 50px;
}
.contacts .form-list_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  gap: 20px;
}
.contacts .form-list_container .form_list {
  width: 60%;
}
.contacts .form-list_container .form_list input {
  background-color: rgb(206, 204, 204);
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 15px;
}
.contacts .form-list_container .form_list input:focus {
  outline: none;
}
.contacts .form-list_container .form_list textarea {
  background-color: rgb(206, 204, 204);
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 120px;
  padding: 15px;
}
.contacts .form-list_container .form_list textarea:focus {
  outline: none;
}
.contacts .form-list_container .form_button {
  background-color: #1a1d4e;
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
}
.contacts .form-list_container .form_button button {
  background: none;
  border: none;
  color: #fff;
}
.contacts .form-list_container .form_button:hover {
  box-shadow: rgba(187, 187, 187, 0.42) 0 3px 18px 1px, inset 1px -3px 5px 0 #cbcbcf;
}
.contacts .form-list_container .form_button:hover a {
  color: #f1f1f1;
}

header {
  width: 100%;
  height: 65px;
}
header nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
header nav .logo img {
  width: 30px;
  height: 30px;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex: 1;
  gap: 20px;
  height: 100%;
}
header nav ul li {
  padding: 12px 20px;
  background: #fff;
  border-radius: 20px;
  box-shadow: rgba(187, 187, 187, 0.42) 0 3px 18px 1px, inset 0 -8px 16px 0 #bdbdc1;
}
header nav ul li a {
  text-transform: uppercase;
  color: #1a1d4e;
}
header nav ul li:hover {
  background-color: #1a1d4e;
  box-shadow: rgba(187, 187, 187, 0.42) 0 3px 18px 1px, inset 1px -3px 5px 0 #cbcbcf;
}
header nav ul li:hover a {
  color: #f1f1f1;
}
header nav ul li.active {
  background-color: #1a1d4e;
  box-shadow: rgba(187, 187, 187, 0.42) 0 3px 18px 1px, inset 1px -3px 5px 0 #cbcbcf;
}
header nav ul li.active a {
  color: #f1f1f1;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}