@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.cdnfonts.com/css/cocogoose");
.work {
  display: none;
  height: 100%;
  width: 100%;
}
.work .work-title {
  margin-top: 50px;
  font-size: 36px;
  color: #1a1d4e;
  text-align: center;
}
.work .work-types {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  margin-top: 30px;
}
.work .work-types li {
  width: 100px;
  height: 50px;
  padding: 10px 20px;
  background-color: #1a1d4e;
  box-shadow: rgba(187, 187, 187, 0.42) 0 3px 18px 1px, inset 1px -3px 5px 0 #cbcbcf;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  font-size: 12px;
}
.work .works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  height: 200px;
  gap: 10px;
  width: 100%;
}
.work .works li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  box-shadow: -6px 7px 15px 5px rgba(0, 0, 0, 0.13), inset 0 -8px 16px 0 #bdbdc1;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}
.work .works li span {
  position: absolute;
  background: #fff;
  bottom: 40px;
}
.work .works img {
  width: 300px;
  height: 220px;
}