@import "./variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // border: 1px solid red;
}

body {
  background: map-get($map: $oceanic, $key: "quaternary");
  font-family: map-get($map: $font_families, $key: "second");
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}


footer {
  @include breakpoint(md) {
    padding: 0 120px 0 120px;
  }

  @include breakpoint(lg) {
    padding: 0 120px 0 360px;
  }
}
