@import './variables';

.contacts {
  display: none;
  width: 100%;
  height: 100%;

  .contact-title {
    margin-top: 80px;

    @include big-title;

    text-align: center;
  }

  .mobiles {
    @include flex-center(row);
    gap: 20px;
    margin-top: 30px;

    li {
      background: #fff;
      padding: 8px;
      @include flex-center(row);
      gap: 5px;
      border-radius: 10px;
      box-shadow:
        -6px 7px 15px 5px rgb(0 0 0 / 13%),
        inset 0 -8px 16px 0 #bdbdc1;

      img {
        width: 50px;
        height: 50px;
      }
    }
  }

  .form-list_container {
    @include flex-center(column);
    margin-top: 30px;

    width: 100%;
    gap: 20px;

    .list1 {
      @include flex-end(row);
      gap: 10px;
    }

    .form_list {
      width: 35%;

      input {
        background-color: rgb(206, 204, 204);
        border: none;
        border-radius: 5px;
        width: 100%;
        padding: 15px;

        &:focus{
          outline: none;
        }
      }

      textarea {
        background-color: rgb(206, 204, 204);
        border: none;
        border-radius: 5px;
        width: 100%;
        height: 120px;
        padding: 15px;

        &:focus{
          outline: none;
        }
      }
    }

    .form_button {
      background-color: map-get($map: $oceanic, $key: "primary");
      border: none;
      border-radius: 10px;
      padding: 12px 20px;

      button {
        background: none;
        border: none;
        color: #fff;
      }

      &:hover {
        box-shadow:
          rgb(187 187 187 / 42%) 0 3px 18px 1px,
          inset 1px -3px 5px 0 #cbcbcf;

        a {
          color: map-get($map: $oceanic, $key:"quaternary");
        }
      }
    }
  }
}
