@import './variables';

.contacts {
  display: none;
  width: 100%;
  height: 100%;

  .contact-title {
    margin-top: 50px;

    @include big-title;

    text-align: center;
  }

  .form-list_container {
    @include flex-center(column);

    width: 100%;
    gap: 20px;

    .form_list {
      width: 60%;

      input {
        background-color: rgb(206, 204, 204);
        border: none;
        border-radius: 5px;
        width: 100%;
        // height: 30px;
        padding: 15px;
      }

      textarea {
        background-color: rgb(206, 204, 204);
        border: none;
        border-radius: 5px;
        width: 100%;
        height: 120px;
        padding: 15px;
      }
    }

    .form_button {
      background-color: map-get($map: $oceanic, $key: "primary");
      border: none;
      border-radius: 10px;
      padding: 12px 20px;

      button {
        background: none;
        border: none;
        color: #fff;
      }

      &:hover {
        box-shadow:
          rgb(187 187 187 / 42%) 0 3px 18px 1px,
          inset 1px -3px 5px 0 #cbcbcf;

        a {
          color: map-get($map: $oceanic, $key:"quaternary");
        }
      }
    }
  }
}
