@import './variables';

@include breakpoint(md) {
  body {
    header {
      nav {
        ul {
          li {

            padding: 9px 10px;
            a {
              text-align: center;
              font-size: 12px;
            }
          }
        }
      }
    }

    main {
      height: 87%;

      .headline {
        padding-top: 50px;

        .presentation {
          margin-top: 50px;
          margin-left: 110px;

          .title {
            overflow: hidden;
            width: 200px;
            height: 100px;
            padding: 10px;

            h1 {
              padding-left: 15px;
              font-size: 24px;
            }

            span {
              padding-left: 15px;
            }
          }

          .perf {
            width: 130px;
            height: 60px;

            h2 {
              padding-left: 6px;
              font-size: 18px;
            }
          }
        }

        .socials {
          bottom: 110px;
        }

        .headline-photo {
          margin-left: 135px;

          img {
            width: 460px;
            height: 480px;
          }

          .skills {
            li{
              height: 70px;
              width: 70px;

              &:nth-child(2) {
                margin-left: 50px;
                height: 110px;
                width: 110px;
              }

              &:nth-child(3) {
                height: 60px;
                width: 60px;
    
                img {
                  height: 40px;
                  width: 40px;
                }
              }

              img {
                height: 50px;
                width: 50px;
              }
            }
          }
        }
      }

      .about {
        margin-top: 40px;

        .about-skills {
          margin-top: 40px;

          li {
            width: 20%;
            height: 350px;

            h2 {
              font-size: 20px;
            }

            img {
              height: 50%;
            }
          }
        }
      }

      .work {
        .work-title {
          margin-top: 40px;
        }

        .work-types {
          li {
            width: 80px;
            height: 40px;
          }
        }

        .works {
          li {
            width: 210px;
            overflow: hidden;

            img {
              height: 160px;
              width: 95%;
            }
            span {
              padding: 8px 15px;
              font-size: 13px;
              bottom: 145px;
            }
            h2 {
              font-size: 17px;
            }
          }
        }
      }

      .exp {
        .exp-title {
          margin-top: 40px;
        }

        .exp-img_container {
          margin-top: 40px;

          .exp-imgs {
            li{
              width: 100px;
              height: 100px;

              img {
                width: 30px;
                height: 30px;
              }

              p{
                font-size: 12px;
              }
            }
          }
        }
      }

      .contacts {
        .contact-title {
          margin-top: 40px;
        }
      }
    }

    footer {
      width: 100%;

      p {
        padding-left: 50px;
      }
    }
  }
}

@include breakpoint(sm) {
  body {
    header {
      nav {
        ul {
          li {
            a {
              font-size: 12px;
            }
          }
        }
      }
    }

    main {
      .headline {
        padding-top: 75px;

        .presentation {
          margin-left: 90px;

          .title {
            height: 95px;
            width: 190px;
            padding: 0 0 0 40px;

            h1 {
              @include title;
            }
          }

          .perf {
            width: 120px;

            h2 {
              font-size: 14px;
              text-align: center;
            }
          }
        }

        .headline-photo {
          margin-left: 40px;
          padding-bottom: 30px;

          @include flex-center(column);

          img {
            height: 545px;
            width: 500px;
          }

          .skills {
            @include flex-center(row);

            margin-top: 10px;
            gap: 55px;

            li {
              .main-skill {
                width: 50px;
                height: 50px;
              }

              &:nth-child(2) {
                margin-left: 0;
                height: 150px;
                width: 150px;
              }

              &:nth-child(3) {
                img {
                  height: 50px;
                  width: 50px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include breakpoint(mobile) {
  body {
    header {
      display: none;
      // nav {
      //   ul {
      //     li {

      //       padding: 9px 10px;
      //       a {
      //         text-align: center;
      //         font-size: 12px;
      //       }
      //     }
      //   }
      // }
    }

    main {

      .headline {
        padding-top: 15px;

        .presentation {
          margin-left: 15px;

          @include flex-align-start(column);

          gap: 7px;
          .title {
            width: 200px;
            height: 70px;

            h1 {
              font-size: 18px;
            }
          }

          .perf {
            width: 80px;
            height: 50px;

            h2 {
              font-size: 10px;
            }
          }
        }

        .socials {
          bottom: 182px;
          height: auto;

          .social-media_icons {
            height: auto;

            a {
              margin-top: 10px;
            }
          }
        }

        .headline-photo {
          margin-left: 15px;

          @include flex-center(column);

          margin-top: 115px;

          img {
            width: 355px;
            height: 405px;
          }

          .skills {
            @include flex-center(row);

            margin-top: 0;
            padding-bottom: 30px;
            gap: 10px;

            li {
              width: 80px;
              height: 80px;

              .main-skill {
                width: 40px;
                height: 40px;
              }

              &:nth-child(2) {
                margin-left: 0;
                height: 100px;
                width: 100px;
              }

              &:nth-child(3) {
                img {
                  height: 40px;
                  width: 40px;
                }
              }
            }
          }
        }
      }

      .about {
        display: block;
        margin-top: 40px;

        .about-title {
          font-size: 24px;
        }

        .about-skills {
          @include flex-center(column);
          margin-top: 40px;

          li {
            width: auto;
            height: 420px;

            h2 {
              font-size: 20px;
            }

            img {
              height: 50%;
            }
          }
        }
      }

      .work {
        display: block;
        height: auto;
        .work-title {
          margin-top: 40px;
          font-size: 24px;
        }

        .work-types {
          li {
            width: 80px;
            height: 40px;
          }
        }

        .works {
          height: auto;
          li {
            width: 305px;
            overflow: hidden;

            img {
              height: 160px;
              width: 95%;
              object-fit: cover;
            }
            span {
              padding: 8px 15px;
              font-size: 13px;
              bottom: 145px;
            }
            h2 {
              font-size: 17px;
            }
          }
        }
      }

      .exp {
        display: block;

        .exp-title {
          margin-top: 40px;
          font-size: 24px;
        }

        .exp-img_container {
          margin-top: 40px;
          flex-direction: column;

          .exp-imgs {
            display: none;
            grid-template-columns: 1fr 1fr;
            li{
              width: 100px;
              height: 100px;

              img {
                width: 30px;
                height: 30px;
              }

              p{
                font-size: 12px;
              }
            }
          }
        }
      }

      .contacts {
        display: block;
        .contact-title {
          margin-top: 40px;
          font-size: 24px;
        }

        .mobiles {
          flex-direction: column-reverse;
        }

        .form {
          .form-list_container {
            padding: 15px;
            .list1 {
              flex-direction: column;
            }

            .form_list {
              width: 100%;
            }
          }
        }
      }
    }

    footer {
      margin-top: 50px;
      padding-left: 0;
      width: 100%;
      position: relative;

      p {
        font-size: 10px;
      }
    }
  }
}

@include breakpoint(mobilexs) {
  body {
    header {
      display: none;
      // nav {
      //   ul {
      //     li {

      //       padding: 9px 10px;
      //       a {
      //         text-align: center;
      //         font-size: 12px;
      //       }
      //     }
      //   }
      // }
    }

    main {

      .headline {
        padding-top: 15px;

        .presentation {
          margin-left: 15px;

          @include flex-align-start(column);

          gap: 7px;
          .title {
            width: 200px;
            height: 70px;

            h1 {
              font-size: 18px;
            }
          }

          .perf {
            width: 80px;
            height: 50px;

            h2 {
              font-size: 10px;
            }
          }
        }

        .socials {
          bottom: 99px;
          height: auto;

          .social-media_icons {
            height: auto;

            a {
              margin-top: 10px;
            }
          }
        }

        .headline-photo {
          margin-left: 15px;

          @include flex-center(column);

          margin-top: 50px;

          img {
            width: 255px;
            height: 285px;
          }

          .skills {
            @include flex-center(row);

            margin-top: 0;
            padding-bottom: 30px;
            gap: 10px;

            li {
              width: 80px;
              height: 80px;

              .main-skill {
                width: 40px;
                height: 40px;
              }

              &:nth-child(2) {
                margin-left: 0;
                height: 100px;
                width: 100px;
              }

              &:nth-child(3) {
                img {
                  height: 40px;
                  width: 40px;
                }
              }
            }
          }
        }
      }

      .about {
        display: block;
        margin-top: 40px;

        .about-title {
          font-size: 24px;
        }

        .about-skills {
          @include flex-center(column);
          margin-top: 40px;

          li {
            width: auto;
            height: 420px;

            h2 {
              font-size: 20px;
            }

            img {
              height: 50%;
            }
          }
        }
      }

      .work {
        display: block;
        height: auto;
        .work-title {
          margin-top: 40px;
          font-size: 24px;
        }

        .work-types {
          li {
            width: 80px;
            height: 40px;
          }
        }

        .works {
          height: auto;
          li {
            width: 210px;
            overflow: hidden;

            img {
              height: 160px;
              width: 95%;
            }
            span {
              padding: 8px 15px;
              font-size: 13px;
              bottom: 145px;
            }
            h2 {
              font-size: 17px;
            }
          }
        }
      }

      .exp {
        display: block;

        .exp-title {
          margin-top: 40px;
          font-size: 24px;
        }

        .exp-img_container {
          margin-top: 40px;
          flex-direction: column;

          .exp-imgs {
            display: none;
            grid-template-columns: 1fr 1fr;
            li{
              width: 100px;
              height: 100px;

              img {
                width: 30px;
                height: 30px;
              }

              p{
                font-size: 12px;
              }
            }
          }
        }
      }

      .contacts {
        display: block;
        .contact-title {
          margin-top: 40px;
          font-size: 24px;
        }

        .mobiles {
          flex-direction: column-reverse;
        }

        .form {
          .form-list_container {
            padding: 15px;
            .list1 {
              flex-direction: column;
            }

            .form_list {
              width: 100%;
            }
          }
        }
      }
    }

    footer {
      margin-top: 50px;
      padding-left: 0;
      width: 100%;
      position: relative;

      p {
        font-size: 10px;
      }
    }
  }
}
