@import './variables';

.work {
  display: none;
  height: 100%;
  width: 100%;

  .work-title {
    margin-top: 80px;

    @include big-title;

    text-align: center;
  }

  .work-types {
    @include flex-center (row);

    gap: 10px;
    margin-top: 30px;

    li {
      @include flex-center(row);
      width: 100px;
      height: 50px;
      color: map-get($map: $oceanic, $key: "primary");
      box-shadow:
        rgb(187 187 187 / 42%) 0 3px 18px 1px,
        inset 1px -3px 5px 0 #cbcbcf;
      border-radius: 10px;
      font-size: 14px;
      font-weight: 600;

      &:first-child{
        background-color: map-get($map: $oceanic, $key: "primary");
        color: #fff;
      }
      
      &:hover{
        background-color: map-get($map: $oceanic, $key: "primary");
        color: #fff;
      }

      &.active{
        background-color: map-get($map: $oceanic, $key: "primary");
        color: #fff;
      }
    }
  }

  .works {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    height: 200px;
    gap: 10px;
    width: 100%;

    li {
      @include flex-center(column);

      overflow: hidden;
      width: 250px;
      gap: 10px;
      background: #fff;
      box-shadow:
        -6px 7px 15px 5px rgb(0 0 0 / 13%),
        inset 0 -8px 16px 0 #bdbdc1;
      border-radius: 10px;
      padding: 10px;
      position: relative;

      h2{
        margin-top: 10px;
      }

      p {
        overflow: hidden;
        width: 95%;
        height: 90px;
      }

      span {
        position: absolute;
        background: #fff;
        bottom: 155px;
        padding: 10px 20px;
        border-radius: 5px;
      }
    }

    img {
      width: 100%;
      height: 40%;
    }
  }
}
