@import './variables', './responsive', './config', './headline';

header {
    width: 100%;
    height: 65px;
    nav {
        height: 100%;
        @include flex-start(row);
        .logo{

        }

        ul {
            @include flex-center(row);
            flex: 1;
            gap: 20px;
            height: 100%;
            li{
                padding: 12px 20px;
                background: #ffffff;
                border-radius: 20px;
                box-shadow: rgb(187 187 187 / 42%) 0px 3px 18px 1px, 
                inset 0 -8px 16px 0 #bdbdc1;
                a{
                    text-transform: uppercase;
                    color: map-get($map: $oceanic, $key: "primary");
                }
            }
        }
    }
}

footer {
    @include flex-center(row)
}