@import './variables', './responsive', './config', './headline', './about', './work';

header {
  width: 100%;
  height: 65px;

  nav {
    height: 100%;

    @include flex-start(row);

    ul {
      @include flex-center(row);

      flex: 1;
      gap: 20px;
      height: 100%;

      li {
        padding: 12px 20px;
        background: #fff;
        border-radius: 20px;
        box-shadow:
          rgb(187 187 187 / 42%) 0 3px 18px 1px,
          inset 0 -8px 16px 0 #bdbdc1;

        a {
          text-transform: uppercase;
          color: map-get($map: $oceanic, $key: "primary");
        }
        
        &:hover {
          background-color: map-get($map: $oceanic, $key: "primary");
          box-shadow:
          rgb(187 187 187 / 42%) 0 3px 18px 1px,
          inset 1px -3px 5px 0 #cbcbcf;

          a{
            color: map-get($map: $oceanic, $key:"quaternary")
          }
        }
        
        &:first-child {
          background-color: map-get($map: $oceanic, $key: "primary");
          box-shadow:
          rgb(187 187 187 / 42%) 0 3px 18px 1px,
          inset 1px -3px 5px 0 #cbcbcf;

          a{
            color: map-get($map: $oceanic, $key:"quaternary")
          }
        }
      }
    }
  }
}

footer {
  @include flex-center(row);
}
